node_modules
coverage
live_demo.js
lessons/day_01/python/venv
.vscode
*.pyc
*.log
lessons/day_01/python/app copy.py

### Java ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
lessons/day_02/javascript/package-lock.json
