node_modules
coverage
live_demo.js
*.log
yarn.lock

### Java ###
target/
!.mvn/wrapper/maven-wrapper.jar
*.jpb

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/package-lock.json

### NetBeans IDE ###
nbproject/

### Python ###
venv/
.vscode/
__pycache__/

### NetCore
.vs
/nbproject/private/

### Gradle ###
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
.project
.classpath 
