aniso8601==7.0.0
click==7.1.1
Flask==1.1.2
Flask-GraphQL==2.0.1
flata==5.0.0
graphene==2.1.8
graphql-core==2.3.1
graphql-relay==2.0.1
graphql-server-core==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
promise==2.3
Rx==1.6.1
six==1.14.0
Werkzeug==1.0.1
